body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 600px;
    margin: auto;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    resize: vertical; /* Optional: Allow users to resize the textarea vertically */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.highlight {
    font-weight: bold;
}

.footer {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
}

.credits-section {
    margin-top: 20px;
    text-align: left;
}

.thank-you {
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

#credits {
    font-size: 14px;
    color: #555;
}